.items{
    width:'100%';
    height:100px;
    border-bottom:1px solid #ddd;
    padding-left:10px;
    line-height:100px;
    position:relative
}
.vipName{
    position:absolute;
    top:16%;
    left:23%;
    font-size:22px;
    color: red;
}
.name{
    position:absolute;
    top:16%;
    left:23%;
    font-size:22px;
}
.signature{
    position: absolute;
    top: 20%;
    left: 23%;
    font-size: 14px;
}
.attention{
    width: 70%;
    height: 35px;
    color: red;
    border-color:  red;
    /* position: absolute;
    right: 10%; */
}
/* .active{
    color: silver;
    border-color: silver;
} */
a:hover{
    color: gray;
}
.am-button-small{
    padding: 0 5px;
}
html:not([data-scale]) .am-button-ghost::before{
    border-color: red;
}
.am-list-item .am-list-line .am-list-extra {
    padding-left:10px ;
    padding-bottom: 25px;
}